body {
  margin: 0;
  font-family: Arial;
  background: #e6d5c3;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
}

.logo {
  font-weight: bold;
}

.search {
  padding: 5px;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.menu .active {
  font-weight: bold;
}

/* MAIN */
main {
  padding: 20px;
}

h2 {
  text-align: center;
  margin: 40px 0 20px;
}

/* POSTERS */
.grid-posters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.poster {
  height: 200px;
  background-size: cover;
  border-radius: 5px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

.card.small {
  width: 150px;
}