
/* partie images */

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

.gallery{
    display: block;
    margin: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

